# Essential Exclusions
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.mp4
*.mov
*.avi
*.data
*.json
*.cfg
!setup.cfg
!cfg/yolov3*.cfg

# Exclude Irrelevant Datasets but Include Drone Dataset
runs/*
data/*
!data/dronedataset/
!data/dronedataset/**

# Neural Network Weights
*.weights
*.pt
*.pb
*.onnx
*.engine
*.mlmodel
*.mlpackage
*.torchscript
*.tflite
*.h5
*_saved_model/
*_web_model/
*_openvino_model/
*_paddle_model/
darknet53.conv.74
yolov3-tiny.conv.15

# Cache and Temporary Files
__pycache__/
*.py[cod]
*$py.class
*.manifest
*.spec
*.log
*.csv
*.xml

# IDE/Editor Specific
.idea/
.vscode/

# Virtual Environments
.venv/
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# MacOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Other
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.site
.mypy_cache/